# ==============================================================================
# OpenStack Connection
# ==============================================================================

# Recommended: Use 'clouds.yaml' as described in the README and clouds.yaml.example.
# OpenStack SDK will automatically load profile configurations from 'clouds.yaml'.
OS_CLOUD=default

# Alternative: If you do not want to use a 'clouds.yaml' file, you can uncomment
# and populate the environment variables below to authenticate directly.
# DO NOT commit your '.env' file.

# OS_AUTH_URL=https://auth.example.com:5000/
# OS_USERNAME=YOUR_USERNAME
# OS_PASSWORD=YOUR_PASSWORD
# OS_PROJECT_ID=YOUR_PROJECT_ID
# OS_PROJECT_NAME=YOUR_PROJECT_NAME
# OS_USER_DOMAIN_ID=example-domain-id
# OS_REGION_NAME=example-region
# OS_INTERFACE=example-interface
# OS_IDENTITY_API_VERSION=3

# ==============================================================================
# SlurmStack Cluster Deployment Parameters
# ==============================================================================

# OpenStack Infrastructure Parameters
SS_IMAGE=Rocky-Linux-9
SS_NETWORK=internal
# Security Groups Are Comma Separated
SS_SECGROUP=default,slurm 

# SlurmStack Cluster Deployment Parameters
SS_CLUSTER_NAME=slurmstack-cluster
SS_CONTROLLER_NAME=slurm-controller
SS_CONTROLLER_FLAVOUR=l3.small
SS_MARIADB_PASS=YOUR_DB_PASSWORD
SS_CLUSTER_IP_RANGE=10.0.0.0/24

# Worker Node Parameters
SS_NODES_COUNT=3
SS_NODES_PREFIX=slurm-worker
SS_NODES_FLAVOUR=l3.small