*.retry
.vscode

hosts
inventory
ansible.log
vars.json
inventory.txt

__pycache__/
venv/
.ansible/

tmp*
*swp

.env
clouds.yaml
secure.yaml

roles/slurm/controller/files/jwt_hs256.key
roles/slurm/common/files/munge.key
